/* A Linux- and Windows-friendly sans-serif font stack: http://prospects.mhurrell.co.uk/post/updating-the-helvetica-font-stack */
body {
  font: 13px Helmet, Freesans, sans-serif;
}
/* Using local fonts? Check out Font Squirrel's webfont generator: http://www.fontsquirrel.com/tools/webfont-generator */
/* We like off-black for text. */
body,
select,
input,
textarea {
  color: #333;
}
a {
  color: #03f;
}
a:hover {
  color: #69f;
}
/* Custom text-selection colors (remove any text shadows: http://twitter.com/miketaylr/status/12228805301) */
::-moz-selection {
  background: #fcd700;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #fcd700;
  color: #fff;
  text-shadow: none;
}
/*	j.mp/webkit-tap-highlight-color */
a:link {
  -webkit-tap-highlight-color: #fcd700;
}
ins {
  background-color: #fcd700;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #fcd700;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
/* Mozilla dosen't style place holders by default */
input:-moz-placeholder {
  color: #a9a9a9;
}
textarea:-moz-placeholder {
  color: #a9a9a9;
}
body {
  background-color: #282828;
  font-weight: bold;
}
img {
  display: block;
}
/* === Pages === */
.pages {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #393248;
}
.page {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #393248;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.page.cached {
  display: none;
}
.page-on-left {
  opacity: 0.9;
  -webkit-transform: translate3d(-20%, 0, 0);
  transform: translate3d(-20%, 0, 0);
}
.page-on-center .swipeback-page-shadow {
  opacity: 1;
}
.page-on-right {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
.page-on-right .swipeback-page-shadow {
  opacity: 0;
}
.page-content {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
  height: 100%;
  position: relative;
  z-index: 1;
}
.swipeback-page-shadow {
  position: absolute;
  right: 100%;
  top: 0;
  width: 16px;
  height: 100%;
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.01) 50%, rgba(0, 0, 0, 0.2) 100%);
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.01) 50%, rgba(0, 0, 0, 0.2) 100%);
  z-index: -1;
  content: '';
}
html.android .swipeback-page-shadow {
  display: none;
  -webkit-animation: none;
  animation: none;
}
.page-transitioning,
.page-transitioning .swipeback-page-shadow {
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
}
.page-from-right-to-center:before,
.page-from-center-to-right:before {
  position: absolute;
  right: 100%;
  top: 0;
  width: 16px;
  height: 100%;
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.01) 50%, rgba(0, 0, 0, 0.2) 100%);
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.01) 50%, rgba(0, 0, 0, 0.2) 100%);
  z-index: -1;
  content: '';
}
html.android .page-from-right-to-center:before,
html.android .page-from-center-to-right:before {
  display: none;
  -webkit-animation: none;
  animation: none;
}
.page-from-right-to-center {
  -webkit-animation: pageFromRightToCenter 400ms forwards;
  animation: pageFromRightToCenter 400ms forwards;
}
.page-from-right-to-center:before {
  -webkit-animation: pageFromRightToCenterShadow 400ms forwards;
  animation: pageFromRightToCenterShadow 400ms forwards;
}
.page-from-center-to-right {
  -webkit-animation: pageFromCenterToRight 400ms forwards;
  animation: pageFromCenterToRight 400ms forwards;
}
.page-from-center-to-right:before {
  -webkit-animation: pageFromCenterToRightShadow 400ms forwards;
  animation: pageFromCenterToRightShadow 400ms forwards;
}
@-webkit-keyframes pageFromRightToCenter {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@keyframes pageFromRightToCenter {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes pageFromRightToCenterShadow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes pageFromRightToCenterShadow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes pageFromCenterToRight {
  from {
    -webkit-transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(100%, 0, 0);
  }
}
@keyframes pageFromCenterToRight {
  from {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
}
@-webkit-keyframes pageFromCenterToRightShadow {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes pageFromCenterToRightShadow {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.page-from-center-to-left {
  -webkit-animation: pageFromCenterToLeft 400ms forwards;
  animation: pageFromCenterToLeft 400ms forwards;
}
.page-from-left-to-center {
  -webkit-animation: pageFromLeftToCenter 400ms forwards;
  animation: pageFromLeftToCenter 400ms forwards;
}
@-webkit-keyframes pageFromCenterToLeft {
  from {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
  }
  to {
    opacity: 0.9;
    -webkit-transform: translate3d(-20%, 0, 0);
  }
}
@keyframes pageFromCenterToLeft {
  from {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  to {
    opacity: 0.9;
    -webkit-transform: translate3d(-20%, 0, 0);
            transform: translate3d(-20%, 0, 0);
  }
}
@-webkit-keyframes pageFromLeftToCenter {
  from {
    opacity: 0.9;
    -webkit-transform: translate3d(-20%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@keyframes pageFromLeftToCenter {
  from {
    -webkit-transform: translate3d(-20%, 0, 0);
            transform: translate3d(-20%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
.label-switch {
  display: inline-block;
  vertical-align: middle;
  width: 52px;
  border-radius: 16px;
  box-sizing: border-box;
  height: 32px;
  position: relative;
  cursor: pointer;
  -ms-flex-item-align: center;
  -webkit-align-self: center;
  align-self: center;
}
.label-switch .checkbox {
  width: 52px;
  border-radius: 16px;
  box-sizing: border-box;
  height: 32px;
  background: #e5e5e5;
  z-index: 0;
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  position: relative;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
}
.label-switch .checkbox:before {
  content: ' ';
  position: absolute;
  left: 2px;
  top: 2px;
  width: 48px;
  border-radius: 16px;
  box-sizing: border-box;
  height: 28px;
  background: #fff;
  z-index: 1;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
      transform: scale(1);
}
.label-switch .checkbox:after {
  content: ' ';
  height: 28px;
  width: 28px;
  border-radius: 28px;
  background: #fff;
  position: absolute;
  z-index: 2;
  top: 2px;
  left: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
      transform: translateX(0px);
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
}
.label-switch input[type="checkbox"] {
  display: none;
}
.label-switch input[type="checkbox"]:checked + .checkbox {
  background: #4cd964;
}
.label-switch input[type="checkbox"]:checked + .checkbox:before {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
      transform: scale(0);
}
.label-switch input[type="checkbox"]:checked + .checkbox:after {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
      transform: translateX(22px);
}
html.android .label-switch input[type="checkbox"] + .checkbox {
  -webkit-transition-duration: 0;
  transition-duration: 0;
}
html.android .label-switch input[type="checkbox"] + .checkbox:after,
html.android .label-switch input[type="checkbox"] + .checkbox:before {
  -webkit-transition-duration: 0;
  transition-duration: 0;
}
.wrapper {
  position: absolute;
  top: 8px;
  left: 8px;
  right: 8px;
  bottom: 8px;
  /*background: red;*/
}
.prevent_top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 8px;
}
.prevent_right {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 8px;
}
.prevent_bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 8px;
}
.prevent_left {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 8px;
}
#modal-box {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius: 10px;
  display: none;
  overflow: hidden;
}
.modal {
  width: 100%;
  height: 100%;
  display: none;
  overflow: hidden;
  position: absolute;
  background: #F5F5F5;
}
.mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000000;
  opacity: 0.6;
}
.map {
  position: absolute;
  top: 0;
  width: 100%;
  height: 254px;
  background: #F0EDE5;
  -webkit-transform-origin: 0% 0%;
      -ms-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  border-radius: 8px;
  overflow: hidden;
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}
.main {
  position: absolute;
  top: 252px;
  /*transform: translateY(265px);*/
  bottom: 0;
  width: 100%;
}
.nav {
  width: 100%;
  height: 122px;
}
.nav .nav-list {
  margin-left: 16px;
}
.nav .nav-list li {
  width: 84px;
  height: 84px;
  margin-left: 16px;
  margin-top: 20px;
  float: left;
}
.nav .nav-list .nav-item {
  width: 80px;
  height: 80px;
  border-radius: 42px;
}
.nav .nav-list .nav-item.a {
  background: url("../images/icons/favorite-link.svg") no-repeat;
}
.nav .nav-list .nav-item.a.active {
  background: url("../images/icons/favorite-active.svg") no-repeat;
}
.nav .nav-list .nav-item.b {
  background: url("../images/icons/friends-link.svg") no-repeat;
}
.nav .nav-list .nav-item.b.active {
  background: url("../images/icons/friends-active.svg") no-repeat;
}
.nav .nav-list .nav-item.c {
  background: url("../images/icons/radar-link.svg") no-repeat;
}
.nav .nav-list .nav-item.c.active {
  background: url("../images/icons/radar-active.svg") no-repeat;
}
.nav .nav-list .nav-item.d {
  background: url("../images/icons/user-link.svg") no-repeat;
}
.nav .nav-list .nav-item.d.active {
  background: url("../images/icons/user-active.svg") no-repeat;
}
.nav .height-control {
  width: 100px;
  height: 100px;
  background: #D8D8D8;
  margin-top: 8px;
  margin-right: 10px;
  font-size: 14px;
  text-align: center;
  line-height: 100px;
}
.content {
  position: absolute;
  top: 122px;
  bottom: 0;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}
#page_gftj > .scroll {
  border-radius: 8px;
  overflow: hidden;
}
#page_gftj .carousel-figure {
  width: 100%;
  height: 200px;
}
#page_gftj .swiper-container {
  height: 100%;
}
#page_gftj .tit {
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  font-size: 28px;
}
#page_gftj .horizontal-list {
  float: left;
}
#page_gftj .horizontal-list li {
  float: left;
}
#page_gftj .top-people {
  width: 100%;
  height: 228px;
  background: #F18585;
  position: relative;
  overflow: hidden;
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}
#page_gftj .top-people > .scroll {
  overflow: hidden;
  height: 100%;
}
#page_gftj .top-people .horizontal-list li:first-of-type .portrait {
  margin-left: 56px;
}
#page_gftj .top-people .horizontal-list li:last-of-type .portrait {
  margin-right: 56px;
}
#page_gftj .top-people .portrait {
  margin: 20px;
  margin-top: 56px;
  width: 120px;
  height: 160px;
}
#page_gftj .top-people .photo {
  width: 120px;
  height: 120px;
  background: #D8D8D8;
  border-radius: 60px;
  overflow: hidden;
}
#page_gftj .top-people .name {
  margin-top: 10px;
  font-size: 18px;
  text-align: center;
}
#page_gftj .classify1,
#page_gftj .classify2 {
  width: 100%;
  height: 286px;
  background: #8BB8F4;
  position: relative;
}
#page_gftj .classify1 > .scroll,
#page_gftj .classify2 > .scroll {
  overflow: hidden;
  height: 100%;
}
#page_gftj .classify1 .horizontal-list li:first-of-type .map-box,
#page_gftj .classify2 .horizontal-list li:first-of-type .map-box {
  margin-left: 10px;
}
#page_gftj .classify1 .horizontal-list li:last-of-type .map-box,
#page_gftj .classify2 .horizontal-list li:last-of-type .map-box {
  margin-right: 10px;
}
#page_gftj .classify1 .map-box,
#page_gftj .classify2 .map-box {
  width: 320px;
  height: 216px;
  margin: 56px 6px 0 6px;
  border-radius: 8px;
  overflow: hidden;
  background: red;
}
#page_gftj .classify2 {
  background: #F6D090;
}
#page_pyq > .scroll {
  border-radius: 8px;
  overflow: hidden;
}
#page_pyq .vertical-list {
  width: 100%;
}
#page_pyq .vertical-list li {
  width: 100%;
}
#page_pyq .vertical-list li:first-of-type .info-box {
  border-bottom: none;
}
#page_pyq .info-box {
  width: 100%;
  height: 120px;
  background: #EEEEEE;
  border-top: 1px solid #979797;
}
#page_pyq .photo {
  width: 82px;
  height: 82px;
  margin: 21px 0 0 21px;
  border-radius: 41px;
  border: 1px solid #9B9B9B;
  background: #D8D8D8;
  float: left;
  overflow: hidden;
}
#page_pyq .msg {
  width: 380px;
  height: 90px;
  float: left;
  margin: 15px 20px 15px 20px;
  display: table;
}
#page_pyq .msg p {
  line-height: 30px;
  font-size: 26px;
  font-weight: bolder;
  display: table-cell;
  vertical-align: middle;
}
#page_pyq .thumbnail {
  width: 82px;
  height: 82px;
  border-radius: 8px;
  border: 1px solid #9B9B9B;
  background: #D8D8D8;
  margin-top: 21px;
  float: left;
  overflow: hidden;
}
#page_fxdt > .scroll {
  border-radius: 8px;
  overflow: hidden;
  background: #EEEEEE;
}
#page_fxdt .input-box {
  margin: 20px 20px 0 20px;
}
#page_fxdt .input-box .input {
  height: 80px;
}
#page_fxdt .tag-box {
  margin: 20px 44px 20px 44px;
}
#page_fxdt .tag-box li {
  float: left;
}
#page_fxdt .tag-tit {
  display: inline-block;
  font-size: 30px;
  padding: 12px 6px 12px 2px;
}
#page_fxdt .tag {
  display: inline-block;
  margin: 6px;
  color: #FFFFFF;
  font-size: 30px;
  padding: 10px 30px 10px 30px;
  background: #FFCC00;
  border: 2px solid #C29C02;
  border-radius: 8px;
}
#page_fxdt .search-box {
  height: 400px;
  width: 100%;
  position: relative;
}
#page_fxdt .search-btn {
  width: 152px;
  height: 152px;
  border-radius: 76px;
  background-image: url('../images/icons/search.svg');
  background-size: 64px 64px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: #4A4A4A;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -76px;
  margin-left: -76px;
}
#page_wd > .scroll {
  border-radius: 8px;
  overflow: hidden;
  background: #EEEEEE;
}
#page_wd .tool-bar {
  width: 100%;
  height: 424px;
  border-top: 1px solid transparent;
  position: relative;
}
#page_wd .role-img {
  position: absolute;
  top: 62px;
  left: 50%;
  margin-left: -68px;
  width: 136px;
  height: 136px;
  border-radius: 68px;
  background: #D8D8D8;
  border: 1px solid #9B9B9B;
  font-size: 28px;
  line-height: 136px;
  text-align: center;
}
#page_wd .role-name {
  position: absolute;
  top: 220px;
  width: 100%;
  font-size: 28px;
  text-align: center;
}
#page_wd .vcard-stats {
  position: absolute;
  bottom: 40px;
  width: 100%;
}
#page_wd .vcard-stat {
  width: 33.33%;
  float: left;
  text-align: center;
}
#page_wd .vcard-stat-count {
  display: block;
  font-size: 38px;
  font-weight: bold;
  line-height: 48px;
  color: #333333;
}
#page_wd .text-muted {
  font-size: 28px;
  color: #333333;
  font-weight: bold;
}
#page_wd .set-button {
  width: 64px;
  height: 64px;
  position: absolute;
  right: 10px;
  top: 20px;
  background: url('../images/icons/setting.png') no-repeat;
}
#page_wd .map-list {
  float: left;
}
#page_wd .map-list li {
  float: left;
}
#page_wd .map-box {
  width: 294px;
  height: 182px;
  border-radius: 8px;
  border: 1px solid #979797;
  margin-left: 12px;
  margin-bottom: 12px;
  overflow: hidden;
  position: relative;
}
#page_wd .tit-box {
  width: 100%;
  height: 70px;
  position: absolute;
  bottom: 0;
  z-index: 1;
  background-image: -webkit-linear-gradient(top, rgba(214, 214, 214, 0.2) 0%, rgba(82, 82, 82, 0.8) 100%);
  background-image: linear-gradient(to bottom, rgba(214, 214, 214, 0.2) 0%, rgba(82, 82, 82, 0.8) 100%);
}
#page_wd .tit {
  color: #FFFFFF;
  font-size: 28px;
  font-weight: bold;
  padding-top: 20px;
  padding-left: 20px;
}
#page_mapinfo > .scroll {
  border-radius: 8px;
  overflow: hidden;
  background: #FFFFFF;
}
#page_mapinfo .tab-bar {
  width: 100%;
  height: 80px;
}
#page_mapinfo .tab-close {
  width: 80px;
  height: 80px;
  background: #4a90e2 url('../images/icons/close_white.svg') no-repeat 50% 50%;
  float: left;
  border-bottom-right-radius: 8px;
}
#page_mapinfo .tab-item {
  width: 272px;
  height: 80px;
  background: #4A90E2;
  float: left;
  font-size: 38px;
  text-align: center;
  line-height: 80px;
}
#page_mapinfo .tab-item.active {
  background: #FFFFFF;
  border-bottom: none;
}
#page_mapinfo .tab-list {
  border-bottom-left-radius: 8px;
  color: #FFFFFF;
  text-indent: 40px;
}
#page_mapinfo .tab-list:before {
  width: 40px;
  height: 40px;
  margin-left: -30px;
  margin-right: 10px;
  margin-bottom: -4px;
  background: url('../images/icons/spotlist.svg') no-repeat;
  display: inline-block;
  content: '';
}
#page_mapinfo .archives-box {
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
}
#page_mapinfo .big-img {
  width: 580px;
  height: 320px;
  border-radius: 10px;
  background: #D8D8D8;
  position: relative;
  margin-bottom: 70px;
}
#page_mapinfo .tit-box {
  width: 100%;
  height: 120px;
  position: absolute;
  bottom: 0;
  z-index: 1;
  background-image: -webkit-linear-gradient(top, rgba(214, 214, 214, 0.2) 0%, rgba(82, 82, 82, 0.8) 100%);
  background-image: linear-gradient(to bottom, rgba(214, 214, 214, 0.2) 0%, rgba(82, 82, 82, 0.8) 100%);
}
#page_mapinfo .tit {
  color: #FFFFFF;
  font-size: 32px;
  padding-top: 30px;
  padding-left: 130px;
}
#page_mapinfo .avatar {
  width: 100px;
  height: 100px;
  background: #D8D8D8;
  border-radius: 50px;
  position: absolute;
  bottom: -50px;
  left: 20px;
  z-index: 1;
}
#page_mapinfo .name {
  position: absolute;
  font-size: 28px;
  bottom: -42px;
  z-index: 1;
  left: 130px;
}
#page_mapinfo .label-box {
  width: 100%;
  height: 60px;
}
#page_mapinfo .horizontal-list {
  float: left;
}
#page_mapinfo .horizontal-list li {
  float: left;
}
#page_mapinfo .horizontal-list li .label {
  font-size: 28px;
  padding: 10px 20px 10px 20px;
  background: #D8D8D8;
  margin-right: 20px;
  border-radius: 10px;
}
#page_mapinfo .abstract {
  position: relative;
  width: 100%;
  background: #D4E8FF;
  padding: 16px 20px 16px 34px;
  border-radius: 10px;
  font-size: 30px;
  text-indent: 2em;
  overflow: hidden;
}
#page_mapinfo .abstract:before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  background: #4A90E2;
  height: 100%;
  width: 10px;
}
#page_mapinfo .hot-num-box {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
#page_mapinfo .hot-num-box li {
  float: left;
}
#page_mapinfo .hot-box {
  width: 280px;
  height: 80px;
  border: 2px solid #4A90E2;
  border-radius: 40px;
  color: #4A90E2;
  text-indent: 40px;
  text-align: center;
  line-height: 80px;
  font-size: 38px;
}
#page_mapinfo .hot-box:before {
  width: 40px;
  height: 40px;
  margin-left: -30px;
  margin-right: 10px;
  margin-bottom: -6px;
  display: inline-block;
  content: '';
}
#page_mapinfo .hot-box.first {
  margin-right: 20px;
}
#page_mapinfo .comment-box {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
#page_mapinfo .praise-num:before {
  background: url("../images/icons/like.svg") no-repeat;
}
#page_mapinfo .comment-num:before {
  background: url("../images/icons/comment.svg") no-repeat;
}
#page_mapinfo .updata {
  width: 100%;
  height: 0;
  border-radius: 10px;
  overflow: hidden;
}
#page_mapinfo .updata .input {
  width: 460px;
  height: 112px;
  background-color: #D4E8FF;
  border: none;
  float: left;
  font-size: 28px;
}
#page_mapinfo .updata .submit {
  height: 112px;
  width: 124px;
  background-color: #4A90E2;
  float: left;
  font-size: 38px;
  color: #FFFFFF;
  text-align: center;
  line-height: 112px;
}
#page_mapinfo .comment-list {
  border-top: 1px solid #CBCBCB;
}
#page_mapinfo .comment-list li {
  width: 100%;
}
#page_mapinfo .comment-list .test {
  width: 100%;
  height: 160px;
  background: red;
  margin: 10px 0 10px 0;
}
#page_mapinfo .comment-list li.loading {
  width: 100%;
  height: 160px;
  background: green;
  margin: 10px 0 10px 0;
  font-size: 40px;
  text-align: center;
  line-height: 160px;
}
#page_mapinfo .comment {
  margin: 20px 0 20px 0;
}
#page_mapinfo .comment .avatar {
  position: inherit;
  bottom: 0;
  left: 0;
  z-index: auto;
  float: left;
}
#page_mapinfo .comment .msg {
  margin-left: 20px;
  width: 460px;
  font-size: 28px;
  float: left;
}
#page_mapinfo .comment.self .msg {
  width: 380px;
}
#page_mapinfo .comment.self .del {
  width: 40px;
  height: 40px;
  float: left;
  border-radius: 20px;
  background: #FFADAD;
  font-size: 28px;
  text-align: center;
  line-height: 34px;
  margin-top: 20px;
  margin-left: 20px;
}
#page_mapinfo .prompt {
  font-size: 28px;
  color: #A39B9B;
  text-align: center;
  margin-bottom: 10px;
}
#page_maplist > .scroll {
  border-radius: 8px;
  overflow: hidden;
  background: #FFFFFF;
}
#page_maplist .tab-bar {
  width: 100%;
  height: 80px;
}
#page_maplist .tab-close {
  width: 80px;
  height: 80px;
  background: #4a90e2 url('../images/icons/close_white.svg') no-repeat 50% 50%;
  float: left;
  border-right: 1px dashed #FFFFFF;
}
#page_maplist .tab-item {
  width: 272px;
  height: 80px;
  background: #4A90E2;
  float: left;
  font-size: 38px;
  text-align: center;
  line-height: 80px;
  color: #FFFFFF;
}
#page_maplist .tab-item.active {
  background: #FFFFFF;
  border-bottom: none;
}
#page_maplist .tab-archives {
  border-bottom-right-radius: 8px;
}
#page_maplist .tab-list {
  border-bottom-left-radius: 8px;
  color: #000000;
  text-indent: 40px;
}
#page_maplist .tab-list:before {
  width: 40px;
  height: 40px;
  margin-left: -30px;
  margin-right: 10px;
  margin-bottom: -4px;
  background: url('../images/icons/spotlist-black.svg') no-repeat;
  display: inline-block;
  content: '';
}
#page_maplist .maplist-tab {
  width: 100%;
  height: 40px;
  margin-top: 26px;
  margin-bottom: 26px;
  text-align: center;
}
#page_maplist .maplist-tab li {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #4A90E2;
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
}
#page_maplist .maplist-tab li.active {
  background: #4A90E2;
}
#page_maplist .address-list {
  padding-bottom: 30px;
}
#page_maplist .addr-box {
  border-radius: 8px;
  background: #EEEEEE;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 10px;
}
#page_maplist .addr-img {
  float: left;
  margin-top: 24px;
  margin-left: 20px;
  background: red;
  height: 70px;
  width: 66px;
}
#page_maplist .addr-name {
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 40px;
  width: 430px;
  font-size: 30px;
  float: left;
}
#page_maplist .num-status-box {
  width: 400px;
  height: 50px;
  margin-top: 20px;
  margin-left: 86px;
  margin-right: 10px;
  float: left;
}
#page_maplist .num-status-box li {
  float: right;
}
#page_maplist .num-status {
  width: 90px;
  height: 40px;
  padding-left: 40px;
  font-size: 20px;
  line-height: 36px;
  display: inline-block;
  background-color: #FFFFFF;
  margin-left: 20px;
  color: #4A90E2;
  border: 4px solid #FFFFFF;
  border-radius: 8px;
}
#page_maplist .num-status:before {
  display: inline-block;
  width: 26px;
  height: 26px;
  background: red;
  margin-left: -40px;
  margin-right: 10px;
  content: '';
}
#page_role > .scroll {
  border-radius: 8px;
  overflow: hidden;
  background: #EEEEEE;
}
#page_role .tool-bar {
  width: 100%;
  height: 424px;
  border-top: 1px solid transparent;
  position: relative;
}
#page_role .close {
  position: absolute;
  top: 10px;
  left: 0;
  width: 70px;
  height: 70px;
  z-index: 1;
  background: url('../images/icons/back_black.svg') no-repeat 50% 50%;
  background-size: 40px;
}
#page_role .follow-btn {
  width: 110px;
  height: 56px;
  border-radius: 28px;
  background: #4A90E2;
  border: 1px solid #A3A3A3;
  position: absolute;
  right: 24px;
  top: 24px;
  color: #FFFFFF;
  font-size: 23px;
  text-align: center;
  line-height: 56px;
}
#page_role .role-img {
  position: absolute;
  top: 62px;
  left: 50%;
  margin-left: -68px;
  width: 136px;
  height: 136px;
  border-radius: 68px;
  background: #D8D8D8;
  border: 1px solid #9B9B9B;
  font-size: 28px;
  line-height: 136px;
  text-align: center;
}
#page_role .role-name {
  position: absolute;
  top: 220px;
  width: 100%;
  font-size: 28px;
  text-align: center;
}
#page_role .vcard-stats {
  position: absolute;
  bottom: 40px;
  width: 100%;
}
#page_role .vcard-stat {
  width: 33.33%;
  float: left;
  text-align: center;
}
#page_role .vcard-stat-count {
  display: block;
  font-size: 38px;
  font-weight: bold;
  line-height: 48px;
  color: #333333;
}
#page_role .text-muted {
  font-size: 28px;
  color: #333333;
  font-weight: bold;
}
#page_role .map-list {
  float: left;
}
#page_role .map-list li {
  float: left;
}
#page_role .map-box {
  width: 294px;
  height: 182px;
  border-radius: 8px;
  border: 1px solid #979797;
  margin-left: 12px;
  margin-bottom: 12px;
  overflow: hidden;
  position: relative;
}
#page_role .tit-box {
  width: 100%;
  height: 70px;
  position: absolute;
  bottom: 0;
  z-index: 1;
  background-image: -webkit-linear-gradient(top, rgba(214, 214, 214, 0.2) 0%, rgba(82, 82, 82, 0.8) 100%);
  background-image: linear-gradient(to bottom, rgba(214, 214, 214, 0.2) 0%, rgba(82, 82, 82, 0.8) 100%);
}
#page_role .tit {
  color: #FFFFFF;
  font-size: 28px;
  font-weight: bold;
  padding-top: 20px;
  padding-left: 20px;
}
#page_follow {
  background: #F5F5F5;
}
#page_follow > .scroll {
  border-radius: 8px;
  overflow: hidden;
}
#page_follow .top-bar {
  width: 100%;
  height: 94px;
  position: relative;
}
#page_follow .close {
  position: absolute;
  top: 10px;
  left: 0;
  width: 70px;
  height: 70px;
  z-index: 1;
  background: url('../images/icons/back_black.svg') no-repeat 50% 50%;
  background-size: 40px;
}
#page_follow .title {
  position: absolute;
  top: 16px;
  right: 0;
  width: 100%;
  height: 70px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  line-height: 70px;
  color: #000000;
}
#page_follow .horizontal-list {
  margin-bottom: 20px;
  border-bottom: 1px solid #999999;
}
#page_follow .info-box {
  width: 100%;
  height: 130px;
  background: #EEEEEE;
  border-top: 1px solid #979797;
}
#page_follow .photo {
  width: 90px;
  height: 90px;
  margin: 21px 0 0 32px;
  border-radius: 41px;
  border: 1px solid #9B9B9B;
  background: #D8D8D8;
  float: left;
  overflow: hidden;
}
#page_follow .msg {
  width: 260px;
  height: 90px;
  float: left;
  margin: 15px 20px 15px 20px;
  display: table;
}
#page_follow .msg p {
  line-height: 30px;
  font-size: 26px;
  font-weight: bolder;
  display: table-cell;
  vertical-align: middle;
}
#page_follow .follow {
  width: 178px;
  height: 68px;
  border-radius: 34px;
  border: 1px solid #9B9B9B;
  background: #D8D8D8;
  margin-top: 21px;
  float: left;
  overflow: hidden;
  font-size: 26px;
  text-align: center;
  line-height: 68px;
}
#modal-set {
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform 400ms;
          transition: transform 400ms;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  border-radius: 8px;
  overflow: hidden;
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}
#modal-set.active {
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
}
#modal-set .top-bar {
  width: 100%;
  height: 70px;
  position: relative;
}
#modal-set .close {
  position: absolute;
  left: 0;
  width: 70px;
  height: 70px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  line-height: 70px;
  color: #000000;
  z-index: 1;
}
#modal-set .title {
  position: absolute;
  right: 0;
  width: 100%;
  height: 70px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  line-height: 70px;
  color: #000000;
}
#modal-address {
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform 400ms;
          transition: transform 400ms;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  border-radius: 8px;
  overflow: hidden;
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}
#modal-address.active {
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
}
#modal-address .top-bar {
  width: 100%;
  height: 80px;
  position: relative;
}
#modal-address .close {
  position: absolute;
  left: 0;
  width: 80px;
  height: 80px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  line-height: 70px;
  color: #000000;
  z-index: 1;
}
#modal-address .scroll {
  position: absolute;
  right: 0;
  left: 0;
  top: 80px;
  bottom: 0px;
  overflow: hidden;
}
#modal-address .btn_edit,
#modal-address .btn_use {
  position: absolute;
  right: 0;
  width: 80px;
  height: 80px;
  z-index: 1;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  line-height: 70px;
  color: #000000;
}
#modal-address .btn_edit {
  right: 80px;
}
#modal-address .top-content {
  height: 200px;
  margin-left: 20px;
  margin-right: 20px;
}
#modal-address .map-name {
  padding: 10px 20px 10px 50px;
  font-size: 30px;
  display: inline-block;
}
#modal-address .map-name:before {
  margin-left: -50px;
  margin-right: 10px;
  display: inline-block;
  width: 40px;
  height: 40px;
  background: red;
  content: '';
}
#modal-address .addr-box {
  border-radius: 8px;
  border: 1px solid #E5E4E4;
  margin-top: 20px;
  background: #FFFFFF;
}
#modal-address .addr-img {
  float: left;
  margin-top: 24px;
  margin-left: 20px;
  background: red;
  height: 70px;
  width: 66px;
}
#modal-address .addr-name {
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 40px;
  width: 430px;
  font-size: 30px;
  float: left;
}
#modal-address .num-status-box {
  width: 400px;
  height: 50px;
  margin-top: 20px;
  margin-left: 86px;
  margin-right: 10px;
  float: left;
}
#modal-address .num-status-box li {
  float: right;
}
#modal-address .num-status {
  width: 90px;
  height: 40px;
  padding-left: 40px;
  font-size: 20px;
  line-height: 36px;
  display: inline-block;
}
#modal-address .num-status:before {
  display: inline-block;
  width: 26px;
  height: 26px;
  background: red;
  margin-left: -40px;
  margin-right: 10px;
  content: '';
}
#modal-address .tag-box {
  margin: 34px 20px 0 20px;
}
#modal-address .tag-box li {
  float: left;
}
#modal-address .tag {
  display: inline-block;
  margin: 4px;
  color: #FFFFFF;
  font-size: 30px;
  padding: 10px 30px 10px 30px;
  background: #FFCC00;
  border: 2px solid #C29C02;
  border-radius: 8px;
}
#modal-address .addr-info-box {
  margin: 34px 20px 0 20px;
  border: 2px solid #E4E3E3;
  background: #FFFFFF;
}
#modal-address .addr-info {
  height: 100px;
  margin-left: 34px;
  margin-right: 34px;
  border-bottom: 2px dashed #EBEBEB;
  position: relative;
}
#modal-address .addr-info.last {
  border-bottom: none;
}
#modal-address .addr-info:after {
  position: absolute;
  right: 0;
  display: block;
  content: '>';
  font-size: 40px;
  color: #C7C7CC;
  top: 30px;
}
#modal-address .addr-info .tit {
  display: block;
  font-size: 40px;
  font-weight: bold;
  padding-left: 30px;
  width: 140px;
  position: absolute;
  top: 24px;
}
#modal-address .addr-info .tit:before {
  width: 30px;
  height: 30px;
  margin-left: -30px;
  display: inline-block;
  background: red;
  content: '';
}
#modal-address .addr-info .info {
  position: absolute;
  right: 0;
  width: 380px;
  height: 100%;
  font-size: 24px;
  line-height: 100%;
  padding-top: 40px;
}
#modal-address .hot-num-box {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
#modal-address .hot-num-box li {
  float: left;
}
#modal-address .hot-box {
  width: 280px;
  height: 80px;
  border: 2px solid #4A90E2;
  border-radius: 40px;
  color: #4A90E2;
  text-indent: 40px;
  text-align: center;
  line-height: 80px;
  font-size: 38px;
}
#modal-address .hot-box:before {
  width: 36px;
  height: 36px;
  margin-left: -30px;
  margin-right: 10px;
  margin-bottom: -2px;
  background: red;
  display: inline-block;
  content: '';
}
#modal-address .hot-box.first {
  margin-right: 20px;
}
#modal-address .comment-box {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #FFFFFF;
  border: 1px solid #E5E4E4;
  border-radius: 8px;
}
#modal-address .comment-list li {
  width: 100%;
}
#modal-address .comment-list .test {
  width: 100%;
  height: 160px;
  background: red;
  margin: 10px 0 10px 0;
}
#modal-address .comment-list li.loading {
  width: 100%;
  height: 160px;
  background: green;
  margin: 10px 0 10px 0;
  font-size: 40px;
  text-align: center;
  line-height: 160px;
}
#modal-address .comment {
  margin: 20px 0 20px 0;
}
#modal-address .comment .avatar {
  width: 100px;
  height: 100px;
  background: #D8D8D8;
  border-radius: 50px;
  position: absolute;
  bottom: -50px;
  left: 20px;
  z-index: 1;
}
#modal-address .comment .avatar {
  position: inherit;
  bottom: 0;
  left: 0;
  z-index: auto;
  float: left;
  margin-top: 10px;
  margin-left: 20px;
}
#modal-address .comment .msg {
  margin-left: 20px;
  margin-right: 40px;
  width: 400px;
  font-size: 28px;
  float: left;
}
#modal-address .comment .btn-bar {
  width: 240px;
  height: 50px;
  margin-top: 20px;
  margin-left: 180px;
  margin-right: 40px;
  float: left;
}
#modal-address .comment .btn-bar .btn {
  background: red;
  width: 40px;
  height: 40px;
  float: right;
  margin-left: 40px;
}
#modal-address .comment:after {
  content: '';
  border: 1px dashed #E5E5E5;
  margin-right: 30px;
  margin-left: 30px;
}
#modal-address .prompt {
  font-size: 28px;
  color: #A39B9B;
  text-align: center;
  margin-bottom: 10px;
}
#modal-select-map {
  width: auto;
  height: auto;
  left: 30px;
  right: 30px;
  top: 40px;
  bottom: 40px;
  -webkit-transform: translateY(-120%);
      -ms-transform: translateY(-120%);
          transform: translateY(-120%);
  -webkit-transition: -webkit-transform 400ms;
          transition: transform 400ms;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  border-radius: 8px;
  overflow: hidden;
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}
#modal-select-map.active {
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
}
#modal-select-map .top-bar {
  width: 100%;
  height: 70px;
  position: relative;
}
#modal-select-map .close {
  position: absolute;
  left: 0;
  width: 70px;
  height: 70px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  line-height: 70px;
  color: #000000;
  z-index: 1;
}
#modal-select-map .title {
  position: absolute;
  right: 0;
  width: 100%;
  height: 70px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  line-height: 70px;
  color: #000000;
}
#modal-select-map .save-btn {
  position: absolute;
  right: 0;
  z-index: 1;
  font-size: 30px;
  font-weight: bold;
  height: 70px;
  line-height: 70px;
  width: 100px;
  text-align: center;
}
#modal-select-map .select-box {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
#modal-select-map .scroll {
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 80px;
}
#modal-select-map .list-box {
  position: absolute;
  top: 160px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
#modal-select-map .map-list li {
  float: left;
}
#modal-select-map .map-box {
  width: 264px;
  height: 182px;
  border-radius: 8px;
  border: 1px solid #979797;
  margin-left: 12px;
  margin-bottom: 12px;
  overflow: hidden;
  position: relative;
}
#modal-select-map .tit-box {
  width: 100%;
  height: 70px;
  position: absolute;
  bottom: 0;
  z-index: 1;
  background-image: -webkit-linear-gradient(top, rgba(214, 214, 214, 0.2) 0%, rgba(82, 82, 82, 0.8) 100%);
  background-image: linear-gradient(to bottom, rgba(214, 214, 214, 0.2) 0%, rgba(82, 82, 82, 0.8) 100%);
}
#modal-select-map .tit {
  color: #FFFFFF;
  font-size: 28px;
  font-weight: bold;
  padding-top: 20px;
  padding-left: 20px;
}
#modal-add-addr-info {
  width: auto;
  height: auto;
  left: 30px;
  right: 30px;
  top: 40px;
  bottom: 40px;
  -webkit-transform: translateY(-120%);
      -ms-transform: translateY(-120%);
          transform: translateY(-120%);
  -webkit-transition: -webkit-transform 400ms;
          transition: transform 400ms;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  border-radius: 8px;
  overflow: hidden;
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}
#modal-add-addr-info.active {
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
}
#modal-add-addr-info .top-bar {
  width: 100%;
  height: 70px;
  position: relative;
}
#modal-add-addr-info .close {
  position: absolute;
  left: 0;
  width: 70px;
  height: 70px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  line-height: 70px;
  color: #000000;
  z-index: 1;
}
#modal-add-addr-info .title {
  position: absolute;
  right: 0;
  width: 100%;
  height: 70px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  line-height: 70px;
  color: #000000;
}
#modal-add-addr-info .save-btn {
  position: absolute;
  right: 0;
  z-index: 1;
  font-size: 30px;
  font-weight: bold;
  height: 70px;
  line-height: 70px;
  width: 100px;
  text-align: center;
}
#modal-add-addr-info .scroll {
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 80px;
}
#modal-add-addr-info .input-box {
  margin-right: 20px;
  margin-left: 20px;
}
#modal-add-addr-info .input-box .label {
  display: inline-block;
  line-height: 60px;
  height: 60px;
  font-size: 30px;
}
#modal-add-addr-info .input-box .label b {
  color: red;
}
#modal-add-addr-info .tag-box {
  margin: 20px;
}
#modal-add-addr-info .tag-box li {
  float: left;
}
#modal-add-addr-info .tag-tit {
  display: inline-block;
  font-size: 30px;
  padding: 12px 6px 12px 2px;
}
#modal-add-addr-info .tag {
  display: inline-block;
  margin: 4px;
  color: #FFFFFF;
  font-size: 30px;
  padding: 10px 28px 10px 28px;
  background: #FFCC00;
  border: 2px solid #C29C02;
  border-radius: 8px;
}
#modal-create-map {
  width: auto;
  height: auto;
  left: 30px;
  right: 30px;
  top: 40px;
  bottom: 40px;
  -webkit-transform: translateY(-120%);
      -ms-transform: translateY(-120%);
          transform: translateY(-120%);
  -webkit-transition: -webkit-transform 400ms;
          transition: transform 400ms;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  border-radius: 8px;
  overflow: hidden;
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}
#modal-create-map.active {
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
}
#modal-create-map .top-bar {
  width: 100%;
  height: 70px;
  position: relative;
}
#modal-create-map .close {
  position: absolute;
  left: 0;
  width: 70px;
  height: 70px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  line-height: 70px;
  color: #000000;
  z-index: 1;
}
#modal-create-map .title {
  position: absolute;
  right: 0;
  width: 100%;
  height: 70px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  line-height: 70px;
  color: #000000;
}
#modal-create-map .save-btn {
  position: absolute;
  right: 0;
  z-index: 1;
  font-size: 30px;
  font-weight: bold;
  height: 70px;
  line-height: 70px;
  width: 100px;
  text-align: center;
}
#modal-create-map .scroll {
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 80px;
}
#modal-create-map .input-box {
  margin-right: 20px;
  margin-left: 20px;
}
#modal-create-map .input-box .label {
  display: inline-block;
  line-height: 60px;
  height: 60px;
  font-size: 30px;
}
#modal-create-map .input-box .label b {
  color: red;
}
#modal-create-map .tag-box {
  margin: 20px;
}
#modal-create-map .tag-box li {
  float: left;
}
#modal-create-map .tag-tit {
  display: inline-block;
  font-size: 30px;
  padding: 12px 6px 12px 2px;
}
#modal-create-map .tag {
  display: inline-block;
  margin: 4px;
  color: #FFFFFF;
  font-size: 30px;
  padding: 10px 28px 10px 28px;
  background: #FFCC00;
  border: 2px solid #C29C02;
  border-radius: 8px;
}
#modal-create-map .textarea {
  height: 160px;
}
#modal-create-map .img-file {
  height: 200px;
  border-radius: 8px;
  border: 3px dashed #979797;
  background: #FFFFFF;
}
#map-xjdd,
#map-dw {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  overflow: hidden;
  border: 1px solid #999B9A;
  font-size: 20px;
  font-weight: bold;
  line-height: 100px;
  text-align: center;
  position: absolute;
  z-index: 1;
  bottom: 10px;
  right: 10px;
}
#map-xjdd:before,
#map-dw:before {
  position: absolute;
  border-radius: 50px;
  content: '';
  display: block;
  width: 100px;
  height: 100px;
  top: 0;
  left: 0;
  background: #27EAB7;
  opacity: 0.8;
}
#map-xjdd {
  bottom: 120px;
  margin-bottom: 0px;
  margin-right: 0px;
  -webkit-transition: all 400ms;
          transition: all 400ms;
}
#map-xjdd:after {
  content: '新建地点';
}
#map-xjdd.active {
  bottom: 50%;
  right: 50%;
  margin-bottom: -50px;
  margin-right: -50px;
}
#map-xjdd.active:after {
  content: '+';
}
#map-dw {
  bottom: 10px;
}
/* Media queries
-------------------------------------------------------------------------------*/
/* Print styles
-------------------------------------------------------------------------------*/
.red {
  background: red;
}
.yellow {
  background: yellow;
}
.blue {
  background: blue;
}
.green {
  background: green;
}
.push-right {
  float: right;
}
.push-left {
  float: left;
}
.input {
  width: 100%;
  border: 2px solid #C8C8C8;
  border-radius: 8px;
  height: 66px;
  outline: none;
  font-size: 28px;
  line-height: 66px;
  padding-left: 20px;
  padding-right: 20px;
}
