@import "base.less";
@import "page.less";

.wrapper {
  //opacity: 0.6;
  position: absolute;
  top: 8px;
  left: 8px;
  right: 8px;
  bottom: 8px;
  /*background: red;*/
}

.map {
  position: absolute;
  top: 0;
  width: 100%;
  height: 254px;
  background: red;
  /*transform: scale();*/
  transform-origin: 0% 0%;
  border-radius: 8px;
}

.main {
  position: absolute;
  top: 252px;
  /*transform: translateY(265px);*/
  background: #393248;
  bottom: 0;
  width: 100%;
}

.nav {
  width: 100%;
  height: 122px;

  .nav-list {
    margin-left: 16px;
  }

  .nav-list li {
    width: 84px;
    height: 84px;
    margin-left: 16px;
    margin-top: 20px;
    float: left;
  }

  .nav-list .nav-item {
    width: 84px;
    height: 84px;
    border-radius: 42px;
    background: #D8D8D8;
    font-size: 14px;
    text-align: center;
    line-height: 84px;
  }

  .nav-list .nav-item.active {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
  }

  .height-control {
    width: 100px;
    height: 100px;
    background: #D8D8D8;
    margin-top: 8px;
    margin-right: 10px;
    font-size: 14px;
    text-align: center;
    line-height: 100px;
  }
}

.content {
  position: absolute;
  top: 122px;
  bottom: 0;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  .fix-overflow-hidden();
}

#page_gftj {
  & > .scroll {
    border-radius: 8px;
    overflow: hidden;
  }
  .carousel-figure {
    width: 100%;
    height: 200px;
  }
  .swiper-container {
    height: 100%;
  }
  .tit {
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 1;
    font-size: 28px;
  }
  .horizontal-list {
    float: left;
  }
  .horizontal-list li {
    float: left;
  }
  .top-people {
    width: 100%;
    height: 228px;
    background: #F18585;
    position: relative;
    overflow: hidden;
    .fix-overflow-hidden();
    & > .scroll {
      overflow: hidden;
      height: 100%;
    }
    .horizontal-list li {
      &:first-of-type .portrait {
        margin-left: 56px;
      }
      &:last-of-type .portrait {
        margin-right: 56px;
      }
    }
    .portrait {
      margin: 20px;
      margin-top: 56px;
      width: 120px;
      height: 160px;
      //float: left;
      //background: green;

    }
    .photo {
      width: 120px;
      height: 120px;
      background: #D8D8D8;
      border-radius: 60px;
    }
    .name {
      margin-top: 10px;
      font-size: 18px;
      text-align: center;
    }
  }

  .classify1, .classify2 {
    width: 100%;
    height: 286px;
    background: #8BB8F4;
    position: relative;
    & > .scroll {
      overflow: hidden;
      height: 100%;
    }
    .horizontal-list li {
      &:first-of-type .map-box {
        margin-left: 10px;
      }
      &:last-of-type .map-box {
        margin-right: 10px;
      }
    }
    .map-box {
      width: 320px;
      height: 216px;
      margin: 56px 6px 0 6px;
      border-radius: 8px;
      overflow: hidden;
      background: red;
    }
  }
  .classify2{
    background: #F6D090;
  }
}

/* Media queries
-------------------------------------------------------------------------------*/

@media screen and (max-width: 480px) {

}

/* Print styles
-------------------------------------------------------------------------------*/
@media print {

}

.red {
  background: red;
}

.yellow {
  background: yellow;
}

.blue {
  background: blue;
}

.green {
  background: green;
}

.push-right {
  float: right;
}

.push-left {
  float: left;
}