/* A Linux- and Windows-friendly sans-serif font stack: http://prospects.mhurrell.co.uk/post/updating-the-helvetica-font-stack */
body {
  font: 13px Helmet, Freesans, sans-serif;
}
/* Using local fonts? Check out Font Squirrel's webfont generator: http://www.fontsquirrel.com/tools/webfont-generator */
/* We like off-black for text. */
body,
select,
input,
textarea {
  color: #333;
}
a {
  color: #03f;
}
a:hover {
  color: #69f;
}
/* Custom text-selection colors (remove any text shadows: http://twitter.com/miketaylr/status/12228805301) */
::-moz-selection {
  background: #fcd700;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #fcd700;
  color: #fff;
  text-shadow: none;
}
/*	j.mp/webkit-tap-highlight-color */
a:link {
  -webkit-tap-highlight-color: #fcd700;
}
ins {
  background-color: #fcd700;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #fcd700;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
/* Mozilla dosen't style place holders by default */
input:-moz-placeholder {
  color: #a9a9a9;
}
textarea:-moz-placeholder {
  color: #a9a9a9;
}
body {
  background-color: #393248;
  font-weight: bold;
}
img {
  display: block;
}
/* === Pages === */
.pages {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #393248;
}
.page {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #393248;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.page.cached {
  display: none;
}
.page-on-left {
  opacity: 0.9;
  -webkit-transform: translate3d(-20%, 0, 0);
  transform: translate3d(-20%, 0, 0);
}
.page-on-center .swipeback-page-shadow {
  opacity: 1;
}
.page-on-right {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
.page-on-right .swipeback-page-shadow {
  opacity: 0;
}
.page-content {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
  height: 100%;
  position: relative;
  z-index: 1;
}
.swipeback-page-shadow {
  position: absolute;
  right: 100%;
  top: 0;
  width: 16px;
  height: 100%;
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.01) 50%, rgba(0, 0, 0, 0.2) 100%);
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.01) 50%, rgba(0, 0, 0, 0.2) 100%);
  z-index: -1;
  content: '';
}
html.android .swipeback-page-shadow {
  display: none;
  -webkit-animation: none;
  animation: none;
}
.page-transitioning,
.page-transitioning .swipeback-page-shadow {
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
}
.page-from-right-to-center:before,
.page-from-center-to-right:before {
  position: absolute;
  right: 100%;
  top: 0;
  width: 16px;
  height: 100%;
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.01) 50%, rgba(0, 0, 0, 0.2) 100%);
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.01) 50%, rgba(0, 0, 0, 0.2) 100%);
  z-index: -1;
  content: '';
}
html.android .page-from-right-to-center:before,
html.android .page-from-center-to-right:before {
  display: none;
  -webkit-animation: none;
  animation: none;
}
.page-from-right-to-center {
  -webkit-animation: pageFromRightToCenter 400ms forwards;
  animation: pageFromRightToCenter 400ms forwards;
}
.page-from-right-to-center:before {
  -webkit-animation: pageFromRightToCenterShadow 400ms forwards;
  animation: pageFromRightToCenterShadow 400ms forwards;
}
.page-from-center-to-right {
  -webkit-animation: pageFromCenterToRight 400ms forwards;
  animation: pageFromCenterToRight 400ms forwards;
}
.page-from-center-to-right:before {
  -webkit-animation: pageFromCenterToRightShadow 400ms forwards;
  animation: pageFromCenterToRightShadow 400ms forwards;
}
@-webkit-keyframes pageFromRightToCenter {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@keyframes pageFromRightToCenter {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes pageFromRightToCenterShadow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes pageFromRightToCenterShadow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes pageFromCenterToRight {
  from {
    -webkit-transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(100%, 0, 0);
  }
}
@keyframes pageFromCenterToRight {
  from {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
}
@-webkit-keyframes pageFromCenterToRightShadow {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes pageFromCenterToRightShadow {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.page-from-center-to-left {
  -webkit-animation: pageFromCenterToLeft 400ms forwards;
  animation: pageFromCenterToLeft 400ms forwards;
}
.page-from-left-to-center {
  -webkit-animation: pageFromLeftToCenter 400ms forwards;
  animation: pageFromLeftToCenter 400ms forwards;
}
@-webkit-keyframes pageFromCenterToLeft {
  from {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
  }
  to {
    opacity: 0.9;
    -webkit-transform: translate3d(-20%, 0, 0);
  }
}
@keyframes pageFromCenterToLeft {
  from {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  to {
    opacity: 0.9;
    -webkit-transform: translate3d(-20%, 0, 0);
            transform: translate3d(-20%, 0, 0);
  }
}
@-webkit-keyframes pageFromLeftToCenter {
  from {
    opacity: 0.9;
    -webkit-transform: translate3d(-20%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@keyframes pageFromLeftToCenter {
  from {
    -webkit-transform: translate3d(-20%, 0, 0);
            transform: translate3d(-20%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
.wrapper {
  position: absolute;
  top: 8px;
  left: 8px;
  right: 8px;
  bottom: 8px;
  /*background: red;*/
}
.map {
  position: absolute;
  top: 0;
  width: 100%;
  height: 254px;
  background: red;
  /*transform: scale();*/
  -webkit-transform-origin: 0% 0%;
      -ms-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  border-radius: 8px;
}
.main {
  position: absolute;
  top: 252px;
  /*transform: translateY(265px);*/
  background: #393248;
  bottom: 0;
  width: 100%;
}
.nav {
  width: 100%;
  height: 122px;
}
.nav .nav-list {
  margin-left: 16px;
}
.nav .nav-list li {
  width: 84px;
  height: 84px;
  margin-left: 16px;
  margin-top: 20px;
  float: left;
}
.nav .nav-list .nav-item {
  width: 84px;
  height: 84px;
  border-radius: 42px;
  background: #D8D8D8;
  font-size: 14px;
  text-align: center;
  line-height: 84px;
}
.nav .nav-list .nav-item.active {
  -ms-transform: scale(1.2);
      transform: scale(1.2);
  -webkit-transform: scale(1.2);
}
.nav .height-control {
  width: 100px;
  height: 100px;
  background: #D8D8D8;
  margin-top: 8px;
  margin-right: 10px;
  font-size: 14px;
  text-align: center;
  line-height: 100px;
}
.content {
  position: absolute;
  top: 122px;
  bottom: 0;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}
#page_gftj > .scroll {
  border-radius: 8px;
  overflow: hidden;
}
#page_gftj .carousel-figure {
  width: 100%;
  height: 200px;
}
#page_gftj .swiper-container {
  height: 100%;
}
#page_gftj .tit {
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  font-size: 28px;
}
#page_gftj .horizontal-list {
  float: left;
}
#page_gftj .horizontal-list li {
  float: left;
}
#page_gftj .top-people {
  width: 100%;
  height: 228px;
  background: #F18585;
  position: relative;
  overflow: hidden;
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}
#page_gftj .top-people > .scroll {
  overflow: hidden;
  height: 100%;
}
#page_gftj .top-people .horizontal-list li:first-of-type .portrait {
  margin-left: 56px;
}
#page_gftj .top-people .horizontal-list li:last-of-type .portrait {
  margin-right: 56px;
}
#page_gftj .top-people .portrait {
  margin: 20px;
  margin-top: 56px;
  width: 120px;
  height: 160px;
}
#page_gftj .top-people .photo {
  width: 120px;
  height: 120px;
  background: #D8D8D8;
  border-radius: 60px;
  overflow: hidden;
}
#page_gftj .top-people .name {
  margin-top: 10px;
  font-size: 18px;
  text-align: center;
}
#page_gftj .classify1,
#page_gftj .classify2 {
  width: 100%;
  height: 286px;
  background: #8BB8F4;
  position: relative;
}
#page_gftj .classify1 > .scroll,
#page_gftj .classify2 > .scroll {
  overflow: hidden;
  height: 100%;
}
#page_gftj .classify1 .horizontal-list li:first-of-type .map-box,
#page_gftj .classify2 .horizontal-list li:first-of-type .map-box {
  margin-left: 10px;
}
#page_gftj .classify1 .horizontal-list li:last-of-type .map-box,
#page_gftj .classify2 .horizontal-list li:last-of-type .map-box {
  margin-right: 10px;
}
#page_gftj .classify1 .map-box,
#page_gftj .classify2 .map-box {
  width: 320px;
  height: 216px;
  margin: 56px 6px 0 6px;
  border-radius: 8px;
  overflow: hidden;
  background: red;
}
#page_gftj .classify2 {
  background: #F6D090;
}
#page_pyq > .scroll {
  border-radius: 8px;
  overflow: hidden;
}
#page_pyq .vertical-list {
  width: 100%;
}
#page_pyq .vertical-list li {
  width: 100%;
}
#page_pyq .vertical-list li:first-of-type .info-box {
  border-bottom: none;
}
#page_pyq .info-box {
  width: 100%;
  height: 120px;
  background: #EEEEEE;
  border-top: 1px solid #979797;
}
#page_pyq .photo {
  width: 82px;
  height: 82px;
  margin: 21px 0 0 21px;
  border-radius: 41px;
  border: 1px solid #9B9B9B;
  background: #D8D8D8;
  float: left;
  overflow: hidden;
}
#page_pyq .msg {
  width: 380px;
  height: 90px;
  float: left;
  margin: 15px 20px 15px 20px;
  display: table;
}
#page_pyq .msg p {
  line-height: 30px;
  font-size: 26px;
  font-weight: bolder;
  display: table-cell;
  vertical-align: middle;
}
#page_pyq .thumbnail {
  width: 82px;
  height: 82px;
  border-radius: 8px;
  border: 1px solid #9B9B9B;
  background: #D8D8D8;
  margin-top: 21px;
  float: left;
  overflow: hidden;
}
#page_fxdt > .scroll {
  border-radius: 8px;
  overflow: hidden;
  background: #EEEEEE;
  padding-top: 40px;
  padding-bottom: 40px;
}
#page_fxdt .select-list {
  background: #EEEEEE;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}
#page_fxdt .select-list li {
  width: 100%;
  height: 96px;
  border-bottom: 1px solid #979797;
  font-size: 32px;
  color: #000000;
  text-align: center;
  line-height: 96px;
}
#page_fxdt .top-list {
  border-bottom: 1px solid #979797;
}
#page_fxdt .top-list li:nth-child(1) {
  border-bottom: none;
}
#page_fxdt .top-list:last-of-type {
  border-bottom: none;
}
#page_fxdt .search {
  width: 100%;
  border: 1px solid #9B9B9B;
  border-radius: 16px;
  height: 100%;
  outline: none;
  font-size: 32px;
  color: #000000;
  text-align: center;
}
#page_wd > .scroll {
  border-radius: 8px;
  overflow: hidden;
  background: #EEEEEE;
}
#page_wd .tool-bar {
  width: 100%;
  height: 424px;
  border-top: 1px solid transparent;
  position: relative;
}
#page_wd .role-img {
  position: absolute;
  top: 62px;
  left: 50%;
  margin-left: -68px;
  width: 136px;
  height: 136px;
  border-radius: 68px;
  background: #D8D8D8;
  border: 1px solid #9B9B9B;
  font-size: 28px;
  line-height: 136px;
  text-align: center;
}
#page_wd .role-name {
  position: absolute;
  top: 220px;
  width: 100%;
  font-size: 28px;
  text-align: center;
}
#page_wd .vcard-stats {
  position: absolute;
  bottom: 40px;
  width: 100%;
}
#page_wd .vcard-stat {
  width: 33.33%;
  float: left;
  text-align: center;
}
#page_wd .vcard-stat-count {
  display: block;
  font-size: 38px;
  font-weight: bold;
  line-height: 48px;
  color: #333333;
}
#page_wd .text-muted {
  font-size: 28px;
  color: #333333;
  font-weight: bold;
}
#page_wd .set-button {
  width: 80px;
  height: 80px;
  position: absolute;
  right: 10px;
  top: 20px;
  border-radius: 40px;
  background: #D8D8D8;
  border: 1px solid #9B9B9B;
  overflow: hidden;
  font-size: 28px;
  line-height: 80px;
  text-align: center;
}
#page_wd .map-list {
  float: left;
}
#page_wd .map-list li {
  float: left;
}
#page_wd .map-box {
  width: 294px;
  height: 182px;
  border-radius: 8px;
  border: 1px solid #979797;
  margin-left: 12px;
  margin-bottom: 12px;
  overflow: hidden;
  position: relative;
}
#page_wd .tit-box {
  width: 100%;
  height: 70px;
  position: absolute;
  bottom: 0;
  z-index: 1;
  background-image: -webkit-linear-gradient(top, rgba(214, 214, 214, 0.2) 0%, rgba(82, 82, 82, 0.8) 100%);
  background-image: linear-gradient(to bottom, rgba(214, 214, 214, 0.2) 0%, rgba(82, 82, 82, 0.8) 100%);
}
#page_wd .tit {
  color: #FFFFFF;
  font-size: 28px;
  font-weight: bold;
  padding-top: 20px;
  padding-left: 20px;
}
#page_mapinfo > .scroll {
  border-radius: 8px;
  overflow: hidden;
  background: #FFFFFF;
}
#page_mapinfo .tab-bar {
  width: 100%;
  height: 80px;
}
#page_mapinfo .tab-close {
  width: 80px;
  height: 80px;
  background: #D8D8D8;
  float: left;
  border: 1px solid #979797;
  font-size: 30px;
  text-align: center;
  line-height: 80px;
  color: #000000;
}
#page_mapinfo .tab-item {
  width: 272px;
  height: 80px;
  background: #D8D8D8;
  float: left;
  border: 1px solid #979797;
  font-size: 30px;
  text-align: center;
  line-height: 80px;
  color: #000000;
}
#page_mapinfo .tab-item.active {
  background: #FFFFFF;
  border-bottom: none;
}
#page_mapinfo .archives-box {
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
}
#page_mapinfo .big-img {
  width: 580px;
  height: 320px;
  border-radius: 10px;
  background: #D8D8D8;
  position: relative;
  margin-bottom: 70px;
}
#page_mapinfo .tit-box {
  width: 100%;
  height: 120px;
  position: absolute;
  bottom: 0;
  z-index: 1;
  background-image: -webkit-linear-gradient(top, rgba(214, 214, 214, 0.2) 0%, rgba(82, 82, 82, 0.8) 100%);
  background-image: linear-gradient(to bottom, rgba(214, 214, 214, 0.2) 0%, rgba(82, 82, 82, 0.8) 100%);
}
#page_mapinfo .tit {
  color: #FFFFFF;
  font-size: 32px;
  padding-top: 30px;
  padding-left: 130px;
}
#page_mapinfo .avatar {
  width: 100px;
  height: 100px;
  background: #D8D8D8;
  border-radius: 50px;
  position: absolute;
  bottom: -50px;
  left: 20px;
  z-index: 1;
}
#page_mapinfo .name {
  position: absolute;
  font-size: 28px;
  bottom: -42px;
  z-index: 1;
  left: 130px;
}
#page_mapinfo .label-box {
  width: 100%;
  height: 60px;
}
#page_mapinfo .horizontal-list {
  float: left;
}
#page_mapinfo .horizontal-list li {
  float: left;
}
#page_mapinfo .horizontal-list li .label {
  font-size: 28px;
  padding: 10px 20px 10px 20px;
  background: #D8D8D8;
  margin-right: 20px;
  border-radius: 10px;
}
#page_mapinfo .abstract {
  position: relative;
  width: 100%;
  background: #D8D8D8;
  padding: 16px 20px 16px 34px;
  border-radius: 10px;
  font-size: 30px;
  text-indent: 2em;
  overflow: hidden;
}
#page_mapinfo .abstract:before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  background: #B6B6B6;
  height: 100%;
  width: 10px;
}
#page_mapinfo .hot-num-box {
  width: 100%;
  height: 80px;
  margin-top: 20px;
}
#page_mapinfo .hot-box {
  width: 280px;
  height: 80px;
  background: #D8D8D8;
  border-radius: 40px;
  text-align: center;
  line-height: 80px;
  font-size: 30px;
}
#page_mapinfo .comment-num {
  margin-left: 20px;
}
#page_mapinfo .comment-box {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
#page_mapinfo .updata {
  width: 100%;
  height: 0;
  border-radius: 10px;
  overflow: hidden;
}
#page_mapinfo .updata .input {
  width: 460px;
  height: 112px;
  background-color: #EDEDED;
  border: none;
  float: left;
  font-size: 28px;
}
#page_mapinfo .updata .submit {
  height: 112px;
  width: 124px;
  background-color: #D8D8D8;
  float: left;
  font-size: 38px;
  color: #333333;
  text-align: center;
  line-height: 112px;
}
#page_mapinfo .comment-list {
  border-top: 1px solid #CBCBCB;
}
#page_mapinfo .comment-list li {
  width: 100%;
}
#page_mapinfo .comment-list .test {
  width: 100%;
  height: 160px;
  background: red;
  margin: 10px 0 10px 0;
}
#page_mapinfo .comment-list li.loading {
  width: 100%;
  height: 160px;
  background: green;
  margin: 10px 0 10px 0;
  font-size: 40px;
  text-align: center;
  line-height: 160px;
}
#page_mapinfo .comment {
  margin: 20px 0 20px 0;
}
#page_mapinfo .comment .avatar {
  position: inherit;
  bottom: 0;
  left: 0;
  z-index: auto;
  float: left;
}
#page_mapinfo .comment .msg {
  margin-left: 20px;
  width: 460px;
  font-size: 28px;
  float: left;
}
#page_mapinfo .comment.self .msg {
  width: 380px;
}
#page_mapinfo .comment.self .del {
  width: 40px;
  height: 40px;
  float: left;
  border-radius: 20px;
  background: #FFADAD;
  font-size: 28px;
  text-align: center;
  line-height: 34px;
  margin-top: 20px;
  margin-left: 20px;
}
#page_mapinfo .prompt {
  font-size: 28px;
  color: #A39B9B;
  text-align: center;
  margin-bottom: 10px;
}
#page_maplist > .scroll {
  border-radius: 8px;
  overflow: hidden;
  background: #FFFFFF;
}
#page_maplist .tab-bar {
  width: 100%;
  height: 80px;
}
#page_maplist .tab-close {
  width: 80px;
  height: 80px;
  background: #D8D8D8;
  float: left;
  border: 1px solid #979797;
  font-size: 30px;
  text-align: center;
  line-height: 80px;
  color: #000000;
}
#page_maplist .tab-item {
  width: 272px;
  height: 80px;
  background: #D8D8D8;
  float: left;
  border: 1px solid #979797;
  font-size: 30px;
  text-align: center;
  line-height: 80px;
  color: #000000;
}
#page_maplist .tab-item.active {
  background: #FFFFFF;
  border-bottom: none;
}
#page_maplist .address-list {
  padding-top: 30px;
  padding-bottom: 30px;
}
#page_maplist .address-box {
  width: 578px;
  height: 120px;
  margin-left: 22px;
  margin-top: 10px;
  border-radius: 12px;
  background: #D8D8D8;
}
#page_maplist .order {
  position: relative;
  float: left;
  width: 60px;
  margin-top: 20px;
  margin-left: 20px;
  text-align: center;
  font-size: 40px;
}
#page_maplist .order:before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  display: block;
  width: 60px;
  height: 60px;
  background: #66A2CD;
  border-radius: 30px;
}
#page_maplist .order:after {
  position: absolute;
  top: 37px;
  left: 0;
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 42px solid #66A2CD;
}
#page_maplist .address-name {
  width: 360px;
  padding-top: 30px;
  padding-bottom: 20px;
  margin-left: 20px;
  font-size: 28px;
  float: left;
  height: 100%;
}
#page_maplist .bottm-bar {
  height: 100%;
  float: right;
  width: 76px;
  margin-right: 10px;
}
#page_maplist .bottm-bar .btn-xxx {
  width: 100%;
  height: 30px;
  background: #F3F3F3;
  border-radius: 10px;
  text-align: center;
  line-height: 30px;
  margin-top: 8px;
}
/* Media queries
-------------------------------------------------------------------------------*/
/* Print styles
-------------------------------------------------------------------------------*/
.red {
  background: red;
}
.yellow {
  background: yellow;
}
.blue {
  background: blue;
}
.green {
  background: green;
}
.push-right {
  float: right;
}
.push-left {
  float: left;
}
