@import "base.less";
@import "page.less";
@import "label-switch.less";

.wrapper {
  //opacity: 0.6;
  position: absolute;
  top: 8px;
  left: 8px;
  right: 8px;
  bottom: 8px;
  /*background: red;*/
}

.prevent_top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 8px;
}

.prevent_right {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 8px;
}

.prevent_bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 8px;
}

.prevent_left {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 8px;
}

#modal-box {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius: 10px;
  display: none;
  overflow: hidden;
}

.modal {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  background: #F5F5F5;
}

.map {
  position: absolute;
  top: 0;
  width: 100%;
  height: 254px;
  background: #F0EDE5;
  transform-origin: 0% 0%;
  border-radius: 8px;
  overflow: hidden;
  .fix-overflow-hidden();
}

.main {
  position: absolute;
  top: 252px;
  /*transform: translateY(265px);*/
  background: #393248;
  bottom: 0;
  width: 100%;
}

.nav {
  width: 100%;
  height: 122px;

  .nav-list {
    margin-left: 16px;
  }

  .nav-list li {
    width: 84px;
    height: 84px;
    margin-left: 16px;
    margin-top: 20px;
    float: left;
  }

  .nav-list .nav-item {
    width: 80px;
    height: 80px;
    border-radius: 42px;
    font-size: 14px;
    text-align: center;
    line-height: 84px;
  }

  .nav-list .nav-item.a{
    background: url("../images/icons/favorite-link.svg") no-repeat;
  }
  .nav-list .nav-item.a.active{
    background: url("../images/icons/favorite-active.svg") no-repeat;
  }

  .nav-list .nav-item.b{
    background: url("../images/icons/friends-link.svg") no-repeat;
  }
  .nav-list .nav-item.b.active{
    background: url("../images/icons/friends-active.svg") no-repeat;
  }

  .nav-list .nav-item.c{
    background: url("../images/icons/radar-link.svg") no-repeat;
  }
  .nav-list .nav-item.c.active{
    background: url("../images/icons/radar-active.svg") no-repeat;
  }

  .nav-list .nav-item.d{
    background: url("../images/icons/user-link.svg") no-repeat;
  }
  .nav-list .nav-item.d.active{
    background: url("../images/icons/user-active.svg") no-repeat;
  }

  .height-control {
    width: 100px;
    height: 100px;
    background: #D8D8D8;
    margin-top: 8px;
    margin-right: 10px;
    font-size: 14px;
    text-align: center;
    line-height: 100px;
  }
}

.content {
  position: absolute;
  top: 122px;
  bottom: 0;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  .fix-overflow-hidden();
}

@import "gftj.less";
@import "pyq.less";
@import "fxdt.less";
@import "wd.less";
@import "mapinfo.less";
@import "page_maplist.less";
@import "page_role.less";
@import "page_follow.less";

@import "modal-set.less";
@import "modal-address.less";

#map-xjdd, #map-dw {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  overflow: hidden;
  border: 1px solid #999B9A;
  font-size: 20px;
  font-weight: bold;
  line-height: 100px;
  text-align: center;
  position: absolute;
  z-index: 1;
  bottom: 10px;
  right: 10px;
  &:before {
    position: absolute;
    border-radius: 50px;
    content: '';
    display: block;
    width: 100px;
    height: 100px;
    top: 0;
    left: 0;
    background: #27EAB7;
    opacity: 0.8;
  }
}

#map-xjdd {
  bottom: 120px;
  margin-bottom: 0px;
  margin-right: 0px;
  transition: all 400ms;
  &:after{
    content: '新建地点';
  }
}

#map-xjdd.active {
  bottom: 50%;
  right: 50%;
  margin-bottom: -50px;
  margin-right: -50px;
  &:after{
    content: '+';
  }
}

#map-dw {
  bottom: 10px;
}

/* Media queries
-------------------------------------------------------------------------------*/

@media screen and (max-width: 480px) {

}

/* Print styles
-------------------------------------------------------------------------------*/
@media print {

}

.red {
  background: red;
}

.yellow {
  background: yellow;
}

.blue {
  background: blue;
}

.green {
  background: green;
}

.push-right {
  float: right;
}

.push-left {
  float: left;
}